
.container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: auto;
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 40px 80px;
  grid-auto-flow: row;
}

.homePage {
  grid-area: 1/1/5/7;
  width: 160%;
  margin-left: -40%;
  margin-right: -20%;
  box-sizing: border-box;
  background-color: #218b8b;
  background-image: url("https://cdn.akamai.steamstatic.com/store/home/store_home_share.jpg");
  background-size: 250% auto;
  background-repeat: no-repeat;
  background-position: -900px 0px;
  background-position: fixed;
  border-radius: 30pt;
  box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.5);
}

.webTitle {
    grid-area: 1/1/5/6;
    /* border:1px solid rgb(255, 255, 255); */
    margin-top: 10%;
    margin-bottom: 10%;
    /* align vertically in the middle */
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    #mainTitle {
        font-family: "Sedgwick Ave", cursive;
        font-size: 50pt;
        color: rgb(255, 155, 25);
        text-shadow: 3px 4px 4px rgb(41, 41, 41);
    }

    #subTitle {
        font-family: "Sedgwick Ave", cursive;
        font-size: 40pt;
        color: rgb(253, 206, 48);
        text-shadow: 3px 2px 4px rgb(41, 41, 41);
    }

    #privacyStatement {
        font-size: 15pt;
        color: rgb(221, 220, 220);
        text-shadow: 2px 2px 4px rgb(54, 54, 54);
    }
}


.beginTrack {
    grid-area: 5/1/8/7;
    /*border:3px solid rgb(255, 0, 0);*/
    text-align: center;
    position: relative;

    #beginTrackLine {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        height: 1px;
        border-top: 2px dashed #000;
    }

    #beginTrackText {
        position: relative;
        display: inline-block;
        padding: 0 10px;
        background-color: #ffffff;
        font-family: "Sedgwick Ave", cursive;
        font-size: 30pt;
    }
}


.userEnter {
    grid-area: 5/1/9/4;
    /* border:1px solid black; */
    z-index: 2;
    margin-top: 15%;

    #step1 p {
        font-size: 12pt;
        color: #767676;
    }

    .gameName p {
        font-size: 18pt;
    }

    .gameName input {
        z-index: 1;
        font-size: 15pt;
        width: 95%;
        height: 30px;
        border: 1px solid black;
    }

    .playtime {
        p {
            font-size: 18pt;
        }

        #enterPlaytimeSection {
            /* make the playtime input and "Hours" in the same line  */
            display: flex;
            margin-top: 0;
            align-items: center;
        }

        #enterPlaytimeSection input {
            z-index: 1;
            font-size: 15pt;
            width: 95%;
            height: 30px;
            border: 1px solid black;
        }
        #enterPlaytimeSection #playtimeUnit {
            font-size: 15pt;
            display: flex;
        }
    }

    .category {
        p {
            font-size: 18pt;
        }
        select {
            z-index: 1;
            font-size: 15pt;
            width: 95%;
            height: 30px;
        }
        #defaultOption {
            color: #767676;
        }
    }

    button {
        margin-top: 20px;
        margin-right: 5%;
        font-size: 18pt;
        width: 30%;
        height: 50px;
        border-radius: 10px;
    }

    #checkButton {
        background-color: #46b8b8;
        color: white;
        border: 0px;
    }

    #checkButton:hover {
        background-color: #1b9494;
        color: white;
        border: 0px;
        transform: translateY(-2px);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    }

    #clearButton {
        background-color: white;
        color: gray;
        border: 1px solid gray;
    }

    #clearButton:hover {
        background-color: rgb(234, 234, 234);
        color: gray;
        border: 1px solid gray;
        transform: translateY(-2px);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    }

    #enterErrorMessage {
        color: #cf0000;
        font-style: bold;
    }
    
}









.userAdd {
    grid-area: 5/4/9/7;
    /* border:1px solid black; */
    margin-top: 15%;

    #step2 p {
    font-size: 12pt;
    color: #767676;
    }

    .checkCard {
    background-color: #BDF1F1;
    border-radius: 30px;
    box-shadow: 2px 4px 50px rgba(0, 0, 0, 0.15);
    }

    .checkGameName p {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    font-size: 18pt;
    color: #bbbbbb;
    }

    .checkCategory{
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;

        p {
            font-size: 15pt;
        }

        #categoryOutput {
            color: #bbbbbb;
        }
    }

    .checkPlaytime{
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;

        p {
            font-size: 15pt;
        }

        #playtimeOutput {
            color: #bbbbbb;
        }
    }

    .checkTotalPlaytime{
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;

        p {
            font-size: 15pt;
        }

       #totalPlaytimeOutput {
            color: #bbbbbb;
        }
    }

    .checkDate{
        display: flex;
        justify-content: space-between;
        padding-left: 10%;
        padding-right: 10%;

        p {
            font-size: 15pt;
        }

        #dateOutput {
            color: #bbbbbb;
        }
    }

    
    
    
    .addButton {
        display: flex;
        justify-content: center;
        padding-top: 5%;
        padding-bottom: 5%;

        #addButton {
            font-size: 18pt;
            width: 30%;
            height: 50px;
            border-radius: 10px;
            background-color: #46b8b8;
            color: white;
            border: 0px;
        }
        #addButton:hover {
            background-color: #1b9494;
            color: white;
            border: 0px;
            transform: translateY(-2px);
            box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
        }
    }

    #checkErrorMessage {
    padding-top: 10px;
    color: #cf0000;
    font-style: bold;
    }
}




.gameHisBG {
    grid-area: 9/1/11/7;
    /* border:1px solid black; */
    text-align: center;
    position: relative;

    #gameHisLine {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        height: 1px;
        border-top: 2px dashed #000;
    }
    #gameHisLineText {
        position: relative;
        display: inline-block;
        padding: 0 10px;
        background-color: #ffffff;
        font-family: "Sedgwick Ave", cursive;
        font-size: 30pt;
    }
}

.gameHis {
    grid-area: 9/1/12/7;
    /* border: 1px solid black; */
    margin-top: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    #clearGameHis {
        font-size: 12pt;
        width: 20%;
        height: 40px;
        border-radius: 10px;
        background-color: white;
        color: gray;
        border: 1px solid gray;
        margin-top: 10px;
        margin-left: auto;
        position: relative;
        z-index: 5;
    }
    #clearGameHis:hover {
        background-color: rgb(234, 234, 234);
        color: gray;
        border: 1px solid gray;
        transform: translateY(-2px);
        box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    }

    #gameHisList {
        position: absolute;
        padding-top: 70px;
        padding-bottom: 15%;
        justify-content: center;
        width: 100%;
        li .top{
            display: none;
            justify-content: space-between;
            padding: 20px 20px 10px;
            color: rgb(0, 0, 0);
            font-size: 15pt;
            font-weight: bold;
        }
        li:first-child .top{
            display: flex;
        }
    }
}



ul {
    list-style-type: none;
    left: 0;
    padding: 0;
    margin: 0;
}

.gameCard {
    font-size: 15pt;
    grid-row: 9/12;
    margin-bottom: 20px;
    /* width: 800px; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden; 

    strong{
        font-weight: normal;
        color: #666;
        padding-bottom: 5px;
        display: inline-block;
        font-size: 12pt;
    }
    #defaultInfo, #details, #detailInfo{
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }
}



#detailInfo{
    border-top: 1px solid #ddd;
    padding-top: 20px;
    width: 90%;
}
#defaultInfo{
  width: 90%;
}





.gameCard {
    #defaultInfo {
        #gameName, #category{ 
            margin-left: 10%;
        }

        #palytime, #totalPlaytime{
            margin-right: 10%; 
            width: 150px;
        }
    }

    #details {
        #gameName, #category {
            margin-left: 10%;
        }
    
        #palytime, #totalPlaytime {
            margin-right: 10%; 
            width: 150px;
        }
    }


    button {
        margin-left: auto; 
        font-size: 15pt;
        background-color: white;
        border: none; 
        padding: 0; 
        margin-left: 92%;
        position: relative;
        top: -40px;
    }
}




.deleteButton {
    font-size: 10pt;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    color: gray;
    border: 1px solid gray;
    margin-top: 10px;
    margin-left: auto;
  
}

.deleteButton:hover {
    background-color: rgb(234, 234, 234);
    color: gray;
    border: 1px solid gray;
    transform: translateY(-2px);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.15);
}

.gameCard .deleteButton{
    padding: 0 10px;
    border: 1px solid gray;
    margin-left: 90%;
    top: -50px;
}













